/**
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program (see LICENSE.txt in the base directory.  If
 * not, see:
 *
 * @link <http://www.gnu.org/licenses/>.
 * @author niel
 * @copyright 2013 nZEDb
 */
/*
site wide html styles
*/

blockquote {
}

body {
    background: #000 url(../img/background.png);
    color: #fff;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

div.footer p.right {
    left: auto;
    right: 10px;
}

h1, h2, h3, h4 {
    color: red;
    font-weight: normal;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 44px;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.6em;
    padding-bottom: 5px;
}

h3 {
    padding: 10px 0 5px 0;
}

h4 {
    color: #fff;
    font-weight: normal;
    margin: 0;
}

hr {
    clear: both;
    border-color: #FF0000;
}

input, select, textarea {
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

p, ul, ol {
    margin-top: 0;
}

textarea {
    height: 100px;
    width: 300px;
}

ul, ol {
}

ul.menu-bar, ol.menu-bar {
    list-style: none;
    margin: 15px;
    padding: 0;
    vertical-align: middle;
}

ul.menu-bar > li, ol.menu-bar > li {
   color: white;
    display: inline-block;
    *display: inline;
    font-size: 1.75em;
    padding: 5px;
    *zoom: 1;
}

ul.menu-bar > li > a, ol.menu-bar > li > a {
    color: inherit;
    text-decoration: none;
}

ul.menu-bar > li:hover, ol.menu-bar > li:hover {
    background-color: #333333;
    /*border: 3px darkred inset;*/
    border-radius: 6px;
}

.bottom {
    vertical-align: bottom;
}

.centred {text-align: center; }

.container-full {
    background-color: #282828;
    margin: 0 auto;
    max-width: 95%;
    min-width: 50%;
}

.container-medium {
    /*background-color: #282828;*/
    margin: 0 auto;
    max-width: 80%;
    min-width: 50%;
}

.container-small {
    background-color: #282828;
    margin: 0 auto;
    max-width: 50%;
    min-width: 25%;
}

.content {
    background-color: #282828;
    clear: both;
    min-height: 100px;
    padding: 5px;
}

.donation {
    display: inline-block;
    height: 100%;
    Padding: 1em;
    vertical-align: bottom;
}

.flash-message {
    background-color: salmon;
    color: black;
    font-size: x-large;
    padding: 20px;
    text-align: center;
}

.login {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.masthead {
    float: none;
}

.masthead:after {
    float: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
